[program:{{service}}]
command={{command}}
autorestart=true
stdout_syslog=local1.info
stderr_syslog=local1.notice
startsecs={{start_secs|default('2')}}
{% if daemon_environment is defined %}
environment={{daemon_environment}}
{% endif %}
{% if chdir is defined %}
directory={{chdir}}
{% endif %}
{% if stop_as_group is defined and stop_as_group %}
stopasgroup=true
{% endif %}
{% if daemon_user is defined %}
user={{daemon_user}}
{% endif %}
{% if numprocs is defined %}
numprocs={{numprocs}}
numprocs_start=1
process_name={{service}}-%(process_num)02d
{% endif %}
