{% extends "nginx-base.j2" %}

  {% block locations %}
  location / {
    {{ self.cors_options() }}

    try_files $uri @symfony;
  }
  {% endblock %}

  location @symfony {
    {% if symfony_devmode|default(false) %}
      {% set phpscript = 'app_dev' %}
    {% else %}
      {% set phpscript = 'app' %}
    {% endif %}
    rewrite ^ /{{phpscript}}.php?$query_string break;

    include fastcgi_params;
    fastcgi_pass unix:/var/run/php5-fpm-{{name}}.sock;
    fastcgi_param SCRIPT_FILENAME $document_root$fastcgi_script_name;

    {% block fastcgi_https_proxy %}
    fastcgi_param SERVER_PORT 443;
    fastcgi_param HTTPS ON;
    {% endblock %}
  }
}
